<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chatob</title>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/chat.css">
	</head>
	<body>
		<nav>
			<div><span id="users"></span>명 접속 중</div>
			<div>최대 <span id="max_users"></span>명</div>
		</nav>
		<main>
			<ul></ul>
			<div>
				<textarea rows="3"></textarea>
				<button type="button" onclick="send(textarea.value)">전송</button>
			</div>
		</main>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/chat.js"></script>
	</body>
</html>
