<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chatob</title>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<style>
			main {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<nav>
			<a href="/" class="brand">Chatob</a>
			<div>
				<a href="/account/login">로그인</a>
				<a href="/account/signup">회원가입</a>
			</div>
		</nav>
		<main>
			<h1>회원가입</h1>
			<form action="/account/signup" method="post" onsubmit="return check()">
				<table>
					<tr>
						<td>ID</td>
						<td>
							<input type="text" name="id" autocomplete="off" minlength="3" maxlength="20" required />
						</td>
						<td><button type="button" onclick="id_check()">중복확인</button></td>
					</tr>
					<tr>
						<td>비밀번호</td>
						<td>
							<input type="password" name="password" autocomplete="off" minlength="4" required />
						</td>
					</tr>
					<tr>
						<td>비밀번호 확인</td>
						<td>
							<input type="password" name="confirm-password" autocomplete="off" minlength="4" required />
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<button type="submit">회원가입</button>
							<button type="button" onclick="location.assign('/account/signup')">로그인하기</button>
						</td>
					</tr>
				</table>
			</form>
		</main>
		<footer>
			<p>
				Made by <a href="https://github.com/OhBeomho">OhBeomho</a><br />
				Source on <a href="https://github.com/OhBeomho/Chatob">Github</a>
			</p>
		</footer>

		<script src="/js/sign_up.js"></script>
	</body>
</html>
