@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
	font-family: "Open Sans", sans-serif;
	transition: all 0.2s;
}

html,
body {
	margin: 0;
	scroll-behavior: smooth;
}

body,
main {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	filter: blur(2px);
}

:root {
	--primary-color: rgb(255, 0, 100);
}

nav {
	background-color: var(--primary-color);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	height: 80px;
}

nav a {
	color: white;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

nav a:hover {
	text-decoration: underline;
}

nav .brand {
	font-size: 30px;
}

#messageList {
	height: calc(100vh - 100px - 80px);
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow-y: auto;
}

.inputs {
	display: flex;
	align-items: center;
	padding: 15px 10px;
	height: 80px;
}

.inputs #messageInput {
	flex: 1;
	height: 90%;
	resize: none;
	margin: 0 6px;
	position: relative;
}

@keyframes invalidAnimation {
	25% {
		transform: translate(-10px);
	}
	50% {
		transform: translate(5px);
	}
	75% {
		transform: translate(-2.5px);
	}
	100% {
		transform: 0;
	}
}

.input {
	font-size: 16px;
	padding: 8px;
	margin: 4px 0;
	border-radius: 10px;
	border: 1px solid gray;
	outline: none;
	transition: all 0.2s;
}

.input:focus {
	box-shadow: 0 0 0 3px rgba(255, 0, 100, 0.3);
}

.inputs #sendButton {
	height: 100%;
	padding: 0 18px;
}

.button {
	font-size: 16px;
	margin: 2px;
	padding: 6px;
	border-radius: 10px;
	border: none;
	background-color: var(--primary-color);
	color: white;
	transition: all 0.15s;
}

.button:hover {
	background-color: rgb(200, 0, 78);
}

.button:focus {
	box-shadow: 0 0 0 4px rgba(255, 0, 100, 0.4);
}

.message {
	width: calc(100% - 20px);
	padding: 10px;
	display: flex;
	position: relative;
	animation: fadeInAnimation 0.3s forwards;
}

@keyframes fadeInAnimation {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}
	to {
		transform: 0;
		opacity: 1;
	}
}

.message.announce {
	justify-content: center;
	align-items: center;
	color: gray;
	font-size: 18px;
}

.message.error {
	color: red;
	font-size: 18px;
}

.message.me,
.message.me .content {
	flex-direction: row-reverse;
	justify-content: flex-start;
}

.message .profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.message .content {
	display: flex;
	align-items: flex-end;
	max-width: 50%;
	padding: 20px 0;
}

.message .content .message-bubble {
	padding: 6px;
	border-radius: 14px;
	margin: 0 5px;
	max-width: 100%;
	word-wrap: break-word;
	white-space: pre-wrap;
	animation: fadeInAnimation 0.4s;
}

.message.me .content .message-bubble {
	background-color: var(--primary-color);
	color: white;
}

.message.other .content .message-bubble {
	background-color: lightgray;
}

.message .content .time {
	color: gray;
	font-size: 12px;
	animation: fadeInAnimation 0.5s;
}

.message .profile img,
#userList .user img {
	border-radius: 50%;
	border: 2px solid lightgray;
}

.message .profile img {
	width: 60px;
	height: 60px;
}

#userList .user img {
	width: 40px;
	height: 40px;
	margin-right: 5px;
}

.modal-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
}

.modal {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	min-width: 150px;
	animation: fadeInAnimation 0.3s;
}

.modal > div {
	padding: 10px 0;
}

.modal-bg,
.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#private {
	color: gray;
	text-align: center;
}

#userList {
	width: 100%;
	padding: 10px;
	margin: 0;
	list-style-type: none;
}

#userList .user {
	padding: 5px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#userList .user.me {
	background-color: var(--primary-color);
	border-radius: 5px;
	color: white;
}
